<h1>All Posts</h1>
<button type="button" class="btn btn-success"><%= link_to "New Post", posts_new_path %></button>
<% @posts.each do |post| %>
  <div class="media">
   <div class="media-body">
     <h4 class="media-heading">
       <%= link_to post.title, post %>
     </h4>
   </div>
  </div>
<% end %>
